<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Blog Ninja! | <%= title %></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <nav>
            <div class="site-title">
                <a href="/"> 
                    <h1>Blog Ninja!</h1>
                    <p>A Net Ninja Site</p>
                </a>
            </div>
            <ul>
                <li><a href="/">Blogs </a></li>
                <li><a href="/about">About </a></li>
                <li><a href="/html_pages/create">New Blog </a></li>
            </ul>
        </nav>
        
        <div class="404content">
            <h2>ERROR NOT FOUND</h2>
        </div>

    </body>
</html>