<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <nav>
            <div class="site-title">
                <a href="/"> 
                    <h1>Blog Ninja!</h1>
                    <p>A Net Ninja Site</p>
                </a>
            </div>
            <ul>
                <li><a href="/">Blogs </a></li>
                <li><a href="/about">About </a></li>
                <li><a href="/html_pages/create">New Blog </a></li>
            </ul>
        </nav>
        
        <div class="Createcontent">
            <input>
                <label for="title">Blog title: </label>
                <input type="text" id="title" required> 
                <label for="snippet">Blog Snippet: </label>
                <input type="text" id="snippet" required> 
                <label for="body">Blog Body: </label>
                <textarea id="body" required></textarea>
                <button>button</button>

            </form>
        </div>

    </body>
</html>